<section class="newRealise-list">
    <div class="newRealise-albumLogo">

    </div>
    <div>
        <h4 class="album-title">Old Town Road</h4>
        <p class="album-creator">Billy Ray Cyrus</p>
    </div>
    <div>
        <p class="album-songAmount">12 songs</p>
    </div>
</section>

<section class="newRealise-list">
    <div class="newRealise-albumLogo">

    </div>
    <div>
        <h4 class="album-title">Old Town Road</h4>
        <p class="album-creator">Billy Ray Cyrus</p>
    </div>
    <div>
        <p class="album-songAmount">12 songs</p>
    </div>
</section>

<section class="newRealise-list">
    <div class="newRealise-albumLogo">

    </div>
    <div>
        <h4 class="album-title">Old Town Road</h4>
        <p class="album-creator">Billy Ray Cyrus</p>
    </div>
    <div>
        <p class="album-songAmount">12 songs</p>
    </div>
</section>