<footer class="footerMenu">
    <section class="buttonContainer">
        <i class="fas fa-heartbeat"></i>
        <i class="fas fa-microphone-alt"></i>
        <i class="fas fa-podcast"></i>
        <i class="fas fa-adjust"></i>
        <i class="fas fa-cog"></i>
    </section>
</footer>