.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 24px;
    color: white;
}

.headerTitle {
    margin: 0;
    color: white;
}