<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/2fe948759e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/albumDetails.css">
    <title>albumDetails</title>
</head>
<body>
    <section class="albumDetails-wallpaper">
    <%- include('../partials/headerTwo'); -%>
    <div class="wallpaperTop-text">
            <h1 class="topTekst-h1">Old Tow Road</h1>
            <p class="topTekst-p">12 Songs</p>
        </div>
        <div class="wallpaperBottom-text">
            <h2 class="bottomText-h2">genres hashtags</h2>
            <div class="wallpaperBottons">
                <button class="wallpaperbotton-left">#country</button>
                <button class="wallpaperbotton-right">#country road</button>
            </div>
        </div>
    </section>
    <main class="main">
        <div class="play-button">
            <i class="fas fa-play-circle"></i>
        </div>
        <div>
            <h2>Old Town Road</h2>
            <p>Billy Ray Cyrus</p>
        </div>
        <div>
            <p>3 : 58</p>
        </div>
    </main>
</body>
</html>