<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/2fe948759e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/dist/assets/css/scss/featured.css">
    <title>fetured</title>
</head>
<body>
    <%- include('../partials/header'); -%>
    <main class="main">
        <div class="pageTitle-container">
            <p class="pageTitle">Featured</p>
        </div>
        <div class="albumShadow">
            <section class="albumContainer">
                <section class="albumText-container">
                        <h2 class="albumTitle">The Greatest Showman</h2>
                        <p class="soundtrack">Soundtrack</p>
                </section>
            </section>
        </div>
        <div class="albumShadow">
            <section class="albumContainer2">
                <section class="albumText-container">
                        <h2 class="albumTitle">The Greatest HorrorLady</h2>
                        <p class="soundtrack">Porn Video</p>
                </section>
            </section>
        </div>
    </main>
    <%- include('../partials/footer'); -%>
</body>
</html>