<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/2fe948759e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/playlist.css">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <%- include('../partials/header'); -%>
        <div class="pageTitle-container">
            <p class="pageTitle">Playlists</p>
        </div>
        <section class="playlist-top">
            <div class="playlistTop-image"></div>
            <div class="playlistTop-title">
                <h1 class="titleOne">Top 50</h1>
                <h1 class="titleTwo">Rock Ballads</h1>
            </div>
        </section>
        <section class="songDetails-container">
            <div class="play-button">
                <i class="fas fa-play-circle"></i>
                <div>
                    <h2 class="songDetail-h1">Old Town Road</h2>
                    <p class="songDetail-p">Billy Ray Cyrus</p>
                </div>
            </div>
            <div>
                <p class="songDetail-time">3 : 58</p>
            </div>
        </section>
        <button class="playlist-button">LISTEN ALL</button>
    </main>
    <%- include('../partials/footer'); -%>
</body>
</html>