<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/2fe948759e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/playing.css">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <%- include('../partials/headerTwo'); -%>
        <div class="album-shadowTwo"></div>
        <div class="album-shadowOne"></div>
        <div class="playing-albumImg"></div>
    </main>
    <%- include('../partials/footer'); -%>
</body>
</html>