@import url("./footer.css");
@import url("./header.css");

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background-color: #341931;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 80px 40px 80px 40px;
}

.pageTitle-container {
    width: 100%;
    margin-bottom: 20px;

}

.pageTitle {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    background: -webkit-linear-gradient(#EE0979, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.albumCovers-container {
    width: 100%;
}

.featuredAlbums-menuContainer {
    width: 100%
}


.featuredAlbums-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.albumMenu-title {
    margin: 0;
    color: white;
}

.albumMenu-viewAll {
    margin: 0;
    background: -webkit-linear-gradient(#EE0979, #FF6A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.albumCovers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
}

.cover1 {
    height: 150px;
    width: 150px;
    background-image: url("/assets/img/butterflylady.png");
    background-size: 120%;
    background-position: center;
    box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.75);
}

.newRealise-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

.newRealise-albumLogo {
    width: 75px;
    height: 75px;
    background-image: url("/assets/img/butterflylady.png");
    background-size: 120%;
    background-position: center;
    box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.75);
}

.album-title {
    margin: 0 0 5px;
}

.album-creator {
    margin: 0;
}