.header {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: white;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
}

.headerTitle {
    margin: 0;
    color: white;
}